@page
@model EcoEnergyRazorProject.Pages.InsertarConsumAiguaModel
@{
	ViewData["Title"] = "Afegir Consum d'Aigua";
}
<h2>Afegir Consum d'Aigua</h2>
<form method="post">
	<div class="form-group">
		<label asp-for="ConsumAigua.Any">Any: </label>
		<input asp-for="ConsumAigua.Any" class="form-control" />
		<span asp-validation-for="ConsumAigua.Any" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="ConsumAigua.CodiComarca">Codi de la comarca: </label>
		<input asp-for="ConsumAigua.CodiComarca" class="form-control" />
		<span asp-validation-for="ConsumAigua.CodiComarca" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="ConsumAigua.Comarca">Nom de la comarca: </label>
		<input asp-for="ConsumAigua.Comarca" class="form-control" />
		<span asp-validation-for="ConsumAigua.Comarca" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="ConsumAigua.Poblacio">Numero de població: </label>
		<input asp-for="ConsumAigua.Poblacio" class="form-control" />
		<span asp-validation-for="ConsumAigua.Poblacio" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="ConsumAigua.DomesticXarxa">Consum en xarxes domestiques: </label>
		<input asp-for="ConsumAigua.DomesticXarxa" class="form-control" />
		<span asp-validation-for="ConsumAigua.DomesticXarxa" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="ConsumAigua.ActivitatsFonts">Consum d'Activitats econòmiques i fonts pròpies: </label>
		<input asp-for="ConsumAigua.ActivitatsFonts" class="form-control" />
		<span asp-validation-for="ConsumAigua.ActivitatsFonts" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="ConsumAigua.Total">Consum Total: </label>
		<input asp-for="ConsumAigua.Total" class="form-control" />
		<span asp-validation-for="ConsumAigua.Total" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="ConsumAigua.Consum">Consum domèstic per càpita: </label>
		<input asp-for="ConsumAigua.Consum" class="form-control" />
		<span asp-validation-for="ConsumAigua.Consum" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary" id="Enviar">Afegir</button>
</form>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}